@media screen and (max-width: 439px) {
  .admin--information h2 {
    flex-direction: column;
  }
  .admin--information h2 span {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 602px) {
  /* ** NAV ** */

  .logo {
    width: 50px !important;
    height: 50px !important;
  }
  .nav__input {
    padding: 0.5rem;
    width: 80%;
    margin-left: 1rem;
    border-radius: 0;
    outline: none;
  }
  .nav__input::placeholder {
    font-size: 1rem;
  }
  .nav__input--enter {
    /* padding: 2px 0.5rem; */
    font-size: 1.1rem;
  }
  .nav--message h3 {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  /* admin--information */

  .admin--information h2 {
    font-size: 1rem !important;
  }
  .admin--information h2 span {
    font-size: 1rem !important;
    padding: 0.1em 0.6rem;
  }
  .user--desc {
    margin-bottom: 2rem;
  }
  .user--desc__detail h2 {
    font-size: 1rem !important;
    flex-direction: column;
    align-items: start;
  }
  .user--desc__detail h2 span {
    font-size: 1.1rem !important;
    margin: 10px 0;
  }
  .user--photo {
    width: 4.5rem !important;
    height: 4.5rem !important;
    font-size: 1.2rem !important;
  }
  .user__responsible h3 {
    font-size: 1.1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .user__responsible h3 span {
    font-size: 1.2rem !important;
  }
 
  .user__date h2 {
    font-size: 1rem !important;
  }
  .user__date p {
    font-size: 1rem !important;
    margin-top: 2px;
  }
  .user--important__informations h2 {
    font-size: 1rem !important;
  }
  .user--important__informations h3 {
    flex-direction: column;
  }
}
/* ======================================= */

@media screen and (max-width: 755px) {
  .header__tabs--content {
    flex-direction: column;
    align-items: center;
  }
  .header--tab {
    font-size: 1.3rem;
    width: 85%;
    border-radius: 0.1rem;
    margin-right: 0 !important;
    padding: 0.8rem 0 !important;
    margin-bottom: 0.5rem;
  }
  .header--tab.active {
    transform: translateY(0);
  }
}

/* ======================================= */

@media screen and (max-width: 900px) {
  .user {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .user__left--information {
    width: 80%;
    max-width: 100%;
  }
  .user__right--information {
    width: 80%;
    margin-top: 1rem;
    padding-bottom: 80px !important;
  }
}
/* ======================================= */

@media screen and (max-width: 1025px) {
  /* ** MAIN ** */
  /* admin--information */
  .admin--information {
    padding: 0.5rem;
  }
  .admin--information h2 {
    letter-spacing: 1px;
    font-size: 1.3rem;
  }
  .admin--information h2 span {
    font-size: 1.3rem;
    padding: 0.3em 0.8rem;
  }
  /* header--tabs */
  .header--tab {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    padding: 0.3rem 0.8rem;
  }
  .header--tab.active {
    font-size: 1.25rem;
  }
  /* ** USER INFORMATION */
  .user__left--information {
    padding: 1rem;
  }
  .model-name {
    font-size: 1.2rem;
  }
  .model {
    font-size: 1rem;
  }
  .user__left--desc h3 span {
    font-size: 1.2rem;
  }
  /*   .user__right--information*/
  .user__right--information {
    padding: 1rem;
  }

  .user--photo {
    width: 5rem;
    height: 5rem;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .user--desc__detail h2 {
    font-size: 1.1rem;
  }
  .user--desc__detail h2 span {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .user__responsible h3 {
    font-style: 1.1rem;
  }
  .user__responsible h3 span {
    font-size: 1.2rem;
  }

  .user--important__informations h2 {
    font-size: 1.2rem;
  }
  .user--important__informations h3 {
    font-size: 1.1rem;
  }

  .user__date {
    margin: -1rem;
    padding: 1rem;
  }
  .user__date h2 {
    font-size: 1.2rem;
  }
  .user__date p {
    font-size: 1.3rem;
  }
}
