@media screen and (max-width: 439px) {
  .admin--information h2 {
    flex-direction: column;
  }
  .admin--information h2 span {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 602px) {
  /* ** NAV ** */

  .logo {
    width: 50px !important;
    height: 50px !important;
  }
  .nav__input {
    padding: 0.5rem;
    width: 80%;
    margin-left: 1rem;
    border-radius: 0;
    outline: none;
  }
  .nav__input::placeholder {
    font-size: 1rem;
  }
  .nav__input--enter {
    /* padding: 2px 0.5rem; */
    font-size: 1.1rem;
  }
  .nav--message h3 {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  /* admin--information */

  .admin--information h2 {
    font-size: 1rem !important;
  }
  .admin--information h2 span {
    font-size: 1rem !important;
    padding: 0.1em 0.6rem;
  }
}
/* ======================================= */

@media screen and (max-width: 755px) {
  .header__tabs--content {
    flex-direction: column;
    align-items: center;
  }
  .header--tab {
    font-size: 1.3rem;
    width: 85%;
    border-radius: 0.1rem;
    margin-right: 0 !important;
    padding: 0.8rem 0 !important;
    margin-bottom: 0.5rem;
  }
  .header--tab.active {
    transform: translateY(0);
  }
}
/* ======================================= */

@media screen and (max-width: 1025px) {
  /* ** MAIN ** */
  /* admin--information */
  .admin--information {
    padding: 0.5rem;
  }
  .admin--information h2 {
    letter-spacing: 1px;
    font-size: 1.3rem;
  }
  .admin--information h2 span {
    font-size: 1.3rem;
    padding: 0.3em 0.8rem;
  }
  /* header--tabs */
  .header--tab {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    padding: 0.3rem 0.8rem;
  }
  .header--tab.active {
    font-size: 1.25rem;
  }
}
